/**  
  * Button
  * title-box
  * Title section
  * Flat divider
  * Class for visualcomposer
  * Icon-Box
  * Row
  * flat-counter
  * Flat Tabs
  * flat Portfolio
  * pricing-table
  * Team member
  * Appointment
  * Testimonials 
  * Latest-blog
  * video-controls
  * flat-contact-form
  * flat-progress-square
  * Callout Us
  * Simple slider
  * flat-about-box
  * flat-Preloader
*/
:root {
	--white: #ffffff;
	--primary: #C3E92D;
	--success: #3DAB25;
	--black: #121212;
	--surface: #F7F7F7;
	--line: #E9E9E9;
	--secondary: #5E6267;
	--interactive: #2E72D2;
	--linear: #E9E9E9;
	--secondary-one: #A0A0A0;
	--critical: #DB4444;
	--linear-one: #E9E9E9;

}
.text-white{
	color: var(--white);
}
/* Container
------------------------------------------------------------------*/
.themeflat-container {
	position: relative;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
	width: 1440px;
	max-width: 100%;

}

p.post {
	font-family: "Jost", sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: var(--black);
	line-height: 28px;
}

/* Background color */
.background-black {
	background-color: var(--black);
}

.background-green {
	background-color: var(--primary);
}

/* Background color */
.main-content {
	padding: 120px 0;
}

.main-content-medium {
	padding: 80px 0;
}

/* Button
-------------------------------------------------------------- */
.flat-button {
	text-align: center;
	display: inline-block;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	color: var(--black);
	background-color: var(--primary);
	border-radius: 6px;
	padding: 14px 40px;
	letter-spacing: 0.1em;
	line-height: 24px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.flat-button:hover {
	background-color: var(--black);
	color: var(--primary);
}

.btn-contact {
	text-align: center;
	overflow: hidden;
	position: relative;
	display: inline-block;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: var(--black);
	background-color: var(--primary);
	border-radius: 44px;
	padding: 12px 28px;
	letter-spacing: 0.08em;
	line-height: 20px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.btn-contact:hover {
	background-color: var(--white);
	color: var(--black);
}

/* slider */
.tf-slider-widget {
	position: relative;
	overflow: hidden;

}

.image-slider img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.slide-item {
	display: -webkit-flex;
	justify-content: space-between;
	padding-top: 132px;
	padding-bottom: 214px;
}

.image-slider .overlay {
	background: linear-gradient(90deg, rgba(18, 18, 18, 1), rgba(18, 18, 18, 0));
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.4;
}

.box-events-slide {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 24px;
	display: block;
	border-radius: 12px;
	max-width: 414px;
}

.silde-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	margin-bottom: 19px;
}

span.new-event {
	display: inline-block;
	padding: 4px 20px;
	border-radius: 6px 6px 0 0;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	line-height: 20px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.08em;
	color: var(--black);
	background-color: var(--primary);
}

img.new-event {
	width: 100%;
	border-radius: 0px 8px 8px 8px;
	margin-bottom: 28px;
}

.content-event h2.title-event {
	font-family: "Oswald", sans-serif;
	text-transform: capitalize;
	font-size: 30px;
	font-weight: 500;
	line-height: 42px;
	margin-bottom: 16px;

}

.content-event a {
	color: var(--white);
}

.content-event ul li:not(:last-child) {
	margin-bottom: 11px;

}

.content-event ul li a {
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	color: var(--white);
}

span.icon-new {
	border-radius: 100px;
	padding: 7px;
	background-color: #000;
	width: 28px;
	height: 28px;
	margin-right: 4px;
	display: inline-block;
	line-height: 8px;
}

span.flat-sub-slider {
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.1em;
	color: var(--white);
	margin-bottom: 16px;
}

h1.flat-title-slider {
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-size: 80px;
	font-weight: 400;
	line-height: 88px;
	color: var(--white);
	margin-bottom: 32px;
}

p.flat-description-slider {
	font-family: "Jost", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	color: var(--white);
	margin-bottom: 32px;
}

.tf-slider-widget .swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
	width: 40px;
	height: 12px;
	border-radius: 6px;
	background-color: var(--primary);
}

.tf-slider-widget .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	border-radius: 15px;
	background-color: var(--white);
	opacity: 0.8;
}

.tf-slider-widget .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: var(--swiper-pagination-bottom, 42px) !important;

}

/* slider */
.tf-title-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.tf-title-wrap a.view-more {
	font-family: "Oswald", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

/* title-box */
.center-title-box {
	text-align: center;
}

.title-box .sub-title,
.title-box .title-section,
.title-box-v2 .sub-title,
.title-box-v2 .title-section {
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	display: block;
}

.title-box .sub-title {
	font-size: 16px;
	line-height: 24px;
	color: var(--secondary);
	letter-spacing: 0.1em;
	margin-bottom: 22px;
	font-weight: 500;
}

.title-box .title-section {
	font-size: 44px;
	line-height: 50px;
	font-weight: 600;
	color: var(--black);
	margin-bottom: 0px;
}

.title-large {
	margin-bottom: 60px;
}

.title-mdium {
	margin-bottom: 50px;
}

.title-small {
	margin-bottom: 40px;
}

.title-small-v2 {
	margin-bottom: 20px;
}

/* title-box */
/* title-box-v2 */

.title-box-v2 .sub-title {
	font-size: 16px;
	line-height: 24px;
	color: var(--primary);
	letter-spacing: 0.1em;
	margin-bottom: 20px;
	font-weight: 500;
}

.title-box-v2 .title-section {
	font-size: 44px;
	line-height: 50px;
	font-weight: 600;
	color: var(--white);
	margin-bottom: 0px;
}
/* title-boxv2 */
/* paralax event */
.tf-widget-event {
	background-image: url("../images/parallax/paralax1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* paralax event */

/* banner-paralax */
.tf-widget-banner {
	background-image: url("../images/parallax/paralax.jpg");
	/* background:linear-gradient(rgba(18, 18, 18, 1), rgba(18, 18, 18, 0)),url("../images/parallax/paralax.jpg"); */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 155px 0;
}

.tf-widget-banner .title-banner {
	font-size: 44px;
	line-height: 50px;
	font-weight: 600;
	margin-bottom: 44px;
	display: inline;
}

.tf-widget-banner span.sale {
	font-family: 'Oswald';
	font-size: 30px;
	line-height: 42px;
	font-weight: 500;
	background-color: var(--primary);
	margin-bottom: 44px;
	padding: 8px 20px;
	display: inline;
	border-radius: 55px;
	margin-left: 35px;
}

.tf-widget-banner img {
	display: block;
	margin: 36px 0;
}

/* banner-paralax */
/* team member */
.team-item .team-image {
	position: relative;
	display: block;
	overflow: hidden;
	margin-bottom: 16px;
}

.team-item .team-image>img {
	width: 100%;
	object-fit: cover;
	-webkit-transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
	transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
}

.team-item .team-social {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
	transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.team-item:hover .team-social {
	opacity: 1;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.team-item:hover .team-image>img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
	-webkit-transition: all 1.3s cubic-bezier(0, 0, 0.2, 1);
	transition: all 1.3s cubic-bezier(0, 0, 0.2, 1);
}

.team-item .team-social ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	margin-bottom: 86px;
}

.team-item .team-social ul>li>a {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 45px;
	text-align: center;
	background-color: var(--primary);
	border-radius: 100px;
}

.team-item .team-social ul>li:hover i {
	color: var(--white);
}

.team-item h3.name-member {
	font-family: 'Oswald';
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
	margin-bottom: 16px;
	text-transform: capitalize;
}

.team-item h4.job {
	font-family: 'Oswald';
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: var(--secondary);
	margin-bottom: 0px;
}

.team-item .shape-team {
	position: absolute;
	right: 0;
	left: 0;
	bottom: -20%;
	width: 100%;
	height: 62px;
	z-index: 5;
	transition: all 0.3s ease 0s;
	opacity: 0;
}

.team-item:hover .shape-team {
	bottom: 0%;
	opacity: 1;
}


.team-item .shape-team::before {
	content: '';
	width: 100%;
	height: 62px;
	position: absolute;
	background: repeating-linear-gradient(270deg, var(--black) 0px, var(--black) 31px, var(--primary) 31px, var(--primary) 62px);
	right: 0;
	left: 0;
	bottom: 0;
}

.team-item .shape-team::after {
	content: '';
	width: 100%;
	height: 50%;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 31px;
	background: repeating-linear-gradient(270deg, var(--primary) 0px, var(--primary) 31px, var(--black) 31px, var(--black) 62px);
}

/* team member */
/* event */
.widget-event .item {
	display: flex;
	align-items: stretch;
	position: relative;
	overflow: hidden;
	justify-content: space-between;
	width: 100%;
	padding: 0;
}

.widget-event .item:not(:last-child) {
	margin-bottom: 40px;

}

.widget-event .event-infomation {
	width: 74.5%;
	position: relative;

}

.widget-event .event-infomation img {
	position: absolute;
	width: 100%;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
	-webkit-transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
	transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
}

.item:hover .event-infomation img {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
	-webkit-transition: all 1.7s cubic-bezier(0, 0, 0.2, 1);
	transition: all 1.7s cubic-bezier(0, 0, 0.2, 1);
}

.widget-event .event-infomation .info h4 {
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	font-size: 30px;
	line-height: 42px;
	text-transform: capitalize;
	margin-bottom: 24px;

}

.widget-event .event-infomation .info h4,
.widget-event .event-infomation .info p,
.widget-event .tf-info-price,
.widget-event .tf-info-price .price span,
.widget-event .tf-info-price .price {
	color: var(--white);
}

.widget-event .event-infomation .info p {
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	margin-right: 20%;
	padding: 0 2px;
}

.widget-event .event-infomation .info p:not(:last-child) {
	margin-bottom: 18px;

}

.widget-event .event-infomation .info p>span {
	margin-right: 8px;

}

.widget-event .info {
	width: 43.8%;
	height: 100%;
	clip-path: polygon(0% 0%, 80% 0, 100% 27%, 70% 100%, 0% 100%);
	background-color: var(--black);
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 11;
	position: relative;
}

.widget-event .tf-info-price {
	width: 25.5%;
	position: relative;
	z-index: 5;
	padding: 54px 40px;
	background-color: var(--black);
}

.widget-event .tf-info-price:before {
	content: '';
	width: 3px;
	height: 100%;
	position: absolute;
	background: repeating-linear-gradient(0deg, var(--black) 2px, var(--black) 10px, var(--primary) 10px, var(--primary) 20px);
	left: 0;
	top: 0;
}

.widget-event .item .bg-item-event-2 {
	content: '';
	width: 216.5px;
	height: 235px;
	background-color: var(--primary);
	position: absolute;
	bottom: -78px;
	left: 243px;
	z-index: 10;
	clip-path: polygon(16% -31%, 80% 19%, 28% 100%, 0% 100%);
}

.widget-event .item .item-event-price-bg {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 40px;
	height: 100%;
	z-index: 5;
}

.widget-event .item .item-event-price-bg::before {
	content: '';
	width: 50%;
	height: 100%;
	position: absolute;
	background: repeating-linear-gradient(0deg, var(--black) 0px, var(--black) 20px, var(--primary) 20px, var(--primary) 40px);
	right: 0;
	top: 0;
}

.widget-event .item .item-event-price-bg::after {
	content: '';
	width: 50%;
	height: 100%;
	position: absolute;
	right: 20px;
	top: 0;
	background: repeating-linear-gradient(0deg, var(--primary) 0px, var(--primary) 20px, var(--black) 20px, var(--black) 40px);
}

.widget-event .tf-info-price h4 {
	font-family: 'Oswald';
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
	line-height: 42px;
	text-transform: capitalize;
	color: var(--primary);
	margin-bottom: 15px;
}

.widget-event .tf-info-price .price span {
	font-family: 'Oswald';
	font-size: 80px;
	font-style: normal;
	font-weight: 700;
	line-height: 88px;
	text-transform: capitalize;
}

.widget-event .tf-info-price .price {
	font-family: 'Jost';
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 16px;
}

.widget-event .tf-info-price a:hover {
	color: var(--black);
	background-color: var(--white);
}

/* event 
/* event v2 white */
.event-white-wiget .event-infomation .info h4,
.event-white-wiget .event-infomation .info p,
.event-white-wiget .tf-info-price,
.event-white-wiget .tf-info-price .price span,
.event-white-wiget .tf-info-price .price {
	color: var(--black);
}

.event-white-wiget .tf-info-price {
	background-color: var(--white);
	width: 26.2%;
}

.event-white-wiget .info {
	background-color: var(--white);
	width: 44.5%;
}

.event-white-wiget .item .item-event-price-bg::before {
	background: repeating-linear-gradient(0deg, var(--white) 0px, var(--white) 20px, var(--primary) 20px, var(--primary) 40px);
}

.event-white-wiget .item .item-event-price-bg::after {
	background: repeating-linear-gradient(0deg, var(--primary) 0px, var(--primary) 20px, var(--white) 20px, var(--white) 40px);
}

.event-white-wiget .tf-info-price:before {
	background: none;
}

.event-white-wiget .event-infomation {
	width: 73.8%;
}

.event-white-wiget .event-infomation .info p {
	padding: 0;
}

.event-white-wiget .event-infomation .info p>span {
	margin-right: 8px;
	padding: 3px;
	background-color: #000;
	border-radius: 50px;
	text-align: center;
}

.event-white-wiget .event-infomation .info p>span svg {
	height: 16px;
	margin: 0px 0px;
}

.event-white-wiget .event-infomation .info h4 {
	margin-top: -7px;
}

.event-white-wiget .event-infomation .info p:not(:last-child) {
	margin-bottom: 22px;
}

.event-white-wiget .tf-info-price a:hover {
	color: var(--primary);
	background-color: var(--black);
}

/* event v2 white */
/* slide image logo */
.tf-widget-partner {
	padding: 38px 0;

}

.sologan-logo {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* slide image logo */

/* about us */
.image-wraper .media {
	display: flex;
	justify-content: flex-start;
	padding-right: 49px;
	padding-left: 3px;
}

.about-button-group {
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
}

.image-wraper img.mask-media {
	margin-left: 12px;
	margin-bottom: 21px;
}

.image-wraper .media>img {
	margin-left: -91px;
}

.infor-about {
	display: flex;
}

.about-box {
	padding-left: 7px;
}

.about-box>img {
	margin-bottom: 28px;
	margin-top: 28px;
}

.about-box p.post {
	max-width: 522px;
	color: var(--secondary);
}

.infor-about img {
	width: 52px;
	height: 52px;
	margin-right: 12px;
	border: 1px solid var(--primary);
	border-radius: 100px;
}

.infor-about .info .name {
	font-family: "jost", sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-transform: capitalize;
	line-height: 26px;
	margin-bottom: 3px;
}

.infor-about .info .job {
	font-family: "jost", sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-transform: capitalize;
	line-height: 22px;
	color: var(--secondary);
}

.about-box .line {
	width: 100%;
	height: 1px;
	background-color: var(--primary);
	margin-top: 22px;
	margin-bottom: 40px;
}

/* about us */

/* Benefits */
.tf-widget-benefit {
	padding: 80px 0 60px 0;
}

.benefit-video {
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 100%;
	position: relative;
	margin: 0 7px;
}

.benefit-video i {
	position: absolute;
	color: var(--white);
	z-index: 1;
	top: 43%;
	left: 44%;
	font-size: 33px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 100px;
	padding: 13px;
	cursor: pointer;
}

.benefit-video i:hover {
	background-color: var(--primary)
}

.benefit-video img.video {
	border-radius: 100%;
	margin: 16px;
	border: 24px solid rgba(255, 177, 133, 0.2);
}

.title-benefit {
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	color: var(--white);
	line-height: 28px;
	text-transform: capitalize;
	display: block;
	margin-bottom: 8px;

}

.description-benefit {
	font-weight: 400;
	font-size: 18px;
	color: var(--secondary-one);
	line-height: 28px;
	display: block;
}

.benefit-number span.number {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 80px;
	color: var(--primary);
	line-height: 88px;
	display: block;
}

.benefit-item {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
}

.benefit-on-left,
.benefit-on-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.benefit-on-left {
	padding-right: 75px;
}

.benefit-on-right {
	padding-left: 75px;
}

.benefit-item:not(:last-child) {
	margin-bottom: 84px;
}

.benefit-on-left .benefit-content {
	border-right: 2px solid var(--primary);
	padding-right: 9px;
	text-align: end;
}

.benefit-on-right .benefit-content {
	border-left: 2px solid var(--primary);
	padding-left: 9px;
	text-align: start;
}

.benefit-video img.shape-video-1 {
	position: absolute;
	bottom: 14%;
	left: -38%;
}

.benefit-video img.shape-video-2 {
	position: absolute;
	top: 14%;
	left: -38%;
}

.benefit-video img.shape-video-3 {
	position: absolute;
	right: -38%;
	bottom: 14%;
}

.benefit-video img.shape-video-4 {
	position: absolute;
	top: 14%;
	right: -38%;
}

/* Benefits */

/* css-animation */
.transition {
	-webkit-transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	-ms-transition: all 500ms linear;
	transition: all 500ms linear;
}

/* load-more */
.load-more {
	margin-top: 61px;
	text-align: center;
	overflow: hidden;
}

.load-more .flat-button {
	padding: 0 55px 0 20px;
}

.load-more .button-loadmore {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 12px;
	color: #202020;
	text-transform: uppercase;
	border: 1px solid #202020;
	padding: 7px 60px 7px 18px;
	position: relative;
	letter-spacing: 1.2px;
	display: inline-block;
}

.load-more .button-loadmore:after {
	position: absolute;
	top: 0;
	right: 40px;
	width: 1px;
	height: 100%;
	background-color: #202020;
	content: "";
}

.load-more .button-loadmore:before {
	position: absolute;
	top: 10px;
	right: 10px;
	background: url("../images/icon/") no-repeat center center;
	width: 18px;
	height: 18px;
	content: "";
}

.load-more .button-loadmore:hover {
	color: #2bb0ef;
}

/* Our-blog
-------------------------------------------------------------- */
.blog-content-single .widget-tf-blog {
	margin-top: 120px;
}

.widget-tf-blog h2.title-blog {
	text-transform: uppercase;
	margin: 0;
}

.widget-tf-blog .widget-blog-left {
	padding-right: 20px;
}

.widget-tf-blog .widget-blog-right {
	padding-left: 27px;
}

.widget-blog-left .entry-widget-blog {
	position: relative;
	overflow: hidden;
}

.widget-blog-left .entry-widget-blog:hover .feature-post img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
	-webkit-transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
	transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
}

.widget-blog-left article.entry-widget-blog:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: linear-gradient(180deg, rgba(18, 18, 18, 0), rgba(18, 18, 18, 1));
	z-index: 1;
}

.widget-blog-left .entry-widget-blog .main-post {
	position: absolute;
	bottom: 25px;
	left: 32px;
	right: 32px;
	z-index: 2;
}

.widget-blog-left .entry-widget-blog .feature-post {
	margin-bottom: 0px !important;

}

.widget-blog-left .entry-widget-blog .feature-post img {
	width: 100%;
	height: auto;
	object-fit: cover;
	-webkit-transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
	transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
}

.widget-blog-left .entry-widget-blog .main-post h2.entry-title a {
	color: var(--white);
	display: block;
}

.widget-blog-left .entry-widget-blog .main-post h2.entry-title a:hover {
	color: var(--primary);
}

.widget-blog-left .entry-widget-blog .entry-meta {
	margin-bottom: 16px !important;
}

.widget-blog-left .entry-widget-blog .entry-meta span a {
	color: var(--linear);
}

.widget-blog-left .entry-widget-blog .entry-meta span a:hover {
	color: var(--primary);
}

.widget-blog-left .entry-widget-blog .main-post a.more-link {
	color: var(--white);
}

.widget-blog-left .entry-widget-blog .main-post a.more-link:hover {
	color: var(--primary);
}

.widget-tf-blog .entry-item {
	display: flex;
	align-items: center;
}

.widget-blog-right .entry-item:not(:last-child) {
	margin-bottom: 32px;

}

.widget-blog-right .entry-item .feature-post {
	width: 46%;
	margin-bottom: 0;
	overflow: hidden;
}

.widget-blog-right .entry-item .main-post {
	width: 54%;
	padding-left: 22px;
}

.widget-blog-right .entry-item h2.entry-title {
	font-family: "Oswald", sans-serif;
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.entry-item .feature-post img {
	object-fit: cover;
	-webkit-transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
	transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
}

.entry-item:hover .feature-post img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
	-webkit-transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
	transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
}

.entry-item:hover .tag a {
	background-color: var(--primary);
	color: var(--black);
}




/* flat-Preloader
-------------------------------------------------------------- */
.loader {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #fefefe;
	z-index: 100000;
}

.block-loader {
	background-color: #2bb0ef;
	float: left;
	height: 24px;
	margin-left: 7px;
	width: 24px;
	opacity: 0.1;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-animation-name: bounceG;
	-moz-animation-duration: 1.3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: linear;
	-moz-transform: scale(0.7);
	-webkit-animation-name: bounceG;
	-webkit-animation-duration: 1.3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	-webkit-transform: scale(0.7);
	-ms-animation-name: bounceG;
	-ms-animation-duration: 1.3s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-direction: linear;
	-ms-transform: scale(0.7);
	-o-animation-name: bounceG;
	-o-animation-duration: 1.3s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: linear;
	-o-transform: scale(0.7);
	animation-name: bounceG;
	animation-duration: 1.3s;
	animation-iteration-count: infinite;
	animation-direction: linear;
	transform: scale(0.7);
}

.loader1 {
	margin-left: -30px;
	-moz-animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.loader2 {
	margin-left: 0px;
	-moz-animation-delay: 08s;
	-webkit-animation-delay: .8s;
	-ms-animation-delay: .8s;
	-o-animation-delay: .8s;
	animation-delay: .8s;
}

.loader3 {
	margin-left: 30px;
	-moz-animation-delay: 1.3s;
	-webkit-animation-delay: 1.3s;
	-ms-animation-delay: 1.3s;
	-o-animation-delay: 1.3s;
	animation-delay: 1.3s;
}

@-moz-keyframes bounceG {
	0% {
		-moz-transform: scale(1.2);
		opacity: 1
	}

	100% {
		-moz-transform: scale(0.7);
		opacity: 0.1
	}
}

@-webkit-keyframes bounceG {
	0% {
		-webkit-transform: scale(1.2);
		opacity: 1
	}

	100% {
		-webkit-transform: scale(0.7);
		opacity: 0.1
	}
}

@-ms-keyframes bounceG {
	0% {
		-ms-transform: scale(1.2);
		opacity: 1
	}

	100% {
		-ms-transform: scale(0.7);
		opacity: 0.1
	}
}

@-o-keyframes bounceG {
	0% {
		-o-transform: scale(1.2);
		opacity: 1
	}

	100% {
		-o-transform: scale(0.7);
		opacity: 0.1
	}
}

@keyframes bounceG {
	0% {
		transform: scale(1.2);
		opacity: 1
	}

	100% {
		transform: scale(0.7);
		opacity: 0.1
	}
}